@media screen and (min-width: 700px) {
    .logo-links {
        display: flex;
        margin-top: 3rem;
    }
}

.logo__text {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.logo__links {
    margin: 0 0 1rem 0;
    padding: 0 0 0 1rem;
    margin-left: auto;
    display: flex;
    list-style-type: none;
}

.logo__links li {
    padding: 0.5rem 0.5rem 0.5rem 0;
    text-transform: uppercase;
}

@media screen and (min-width: 700px) {
    .logo__links {
        margin: 1rem 2rem 1rem auto;
    }
}

.logo__links li+li {
    padding-left: 0.5rem;
    border-left: 1px solid #eee;
}

@media screen and (min-width: 700px) {
    .logo__links li {
        padding: 0.5rem 2rem;
    }
    .logo__links li+li {
        border-left: none;
    }
}

.page-footer {
    background: #ddd;
    min-height: 20vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-footer .social-media {
    display: flex;
    list-style-type: none;
}

.page-footer .social-media li {
    padding: 0 1rem;
}